html {
  font-family: var(--font-family);
  background-color: var(--HB_Color_Background);
  background-image: var(--background-image);
  font-size: clamp(1rem, 3vw, 5rem);
  margin-left: 5vw;
  margin-right: 5vw;
}
p {
  line-height: 1.25em;
}
p + p {
  margin-top: 0;
}
p + *, section + section {
  margin-top: 3.25rem;
}
ul {
  padding-left: 1.4em;
  margin-bottom: 0.8em;
  line-height: 1.25em;
}
ol {
  padding-left: 1.4em;
  margin-bottom: 0.8em;
  line-height: 1.25em;
}
p + p,
ul + p,
ol + p {
  text-indent: 1em;
}
img {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
strong {
  font-weight: bold;
  letter-spacing: -0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
table caption,
table thead {
  font-family: var(--font-family-headers);
  color: var(--HB_Color_HeaderText);
}
h1 {
  margin-bottom: 1.8rem;
  line-height: 1em;
}
h2 {
  line-height: 0.988em;
}
h3 {
  line-height: 0.995em;
  border-bottom: 2px solid var(--HB_Color_HeaderUnderline);
}
h4 {
  line-height: 0.971em;
}
h5 {
  line-height: 0.951em;
}
h6 {
  line-height: 0.951em;
}
* + h1 {
  margin-top: 0;
}
h1 + * {
  margin-top: 0;
}

* + h2 {
  margin-top: 1.5rem;
}
h2 + * {
  margin-top: 0.5rem;
}

* + h3 {
  margin-top: 1.5rem;
}
h3 + * {
  margin-top: 0.7rem;
}

* + h4 {
  margin-top: 2.35rem;
}
h4 + * {
  margin-top: 0.9rem;
}

* + h5 {
  margin-top: 2rem;
}
h5 + * {
  margin-top: 2rem;
}

* + h6 {
  margin-top: 2rem;
}
h6 + * {
  margin-top: 1.5rem;
}

.item + * {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.item + p {
  + p {
    text-indent: 0;
  }
}
h4.spell + * {
  margin-top: 0.35rem;
    & + * {
        text-indent: 0;
        & + * {
            text-indent: 0;
            margin-top: 0.35rem;
            & + * {
                margin-top: 0.35rem;
                text-indent: 0;
            }
        }
    }
}

table caption {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
table {
  line-height: 1.1rem;
}
table p,
table dl,
table ul,
table ol {
  line-height: 1.2em;
}
table ul,
table ol {
  padding-left: 1em;
}
table em {
  font-style: italic;
}
table strong {
  font-weight: 800;
  letter-spacing: -0.02em;
}
table h5 + * {
  margin-top: 1rem;
}
table + * {
  margin-top: 3.25rem;
}
table thead {
  display: table-row-group;
  font-weight: 800;
}
table thead th {
  padding: 0.15rem 1rem;
  vertical-align: bottom;
}
table tbody tr td {
  padding: 0.15rem 1rem;
}
table tbody tr:nth-child(odd) {
  background-color: var(--HB_Color_Accent);
}
table + p {
  text-indent: 1em;
}

hr {
  visibility: hidden;
  margin: 0px;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0px;
  margin-left: 1.5em;
}
dl {
  line-height: 1.25em;
}
dl + * {
  margin-top: 1.7rem;
}
p + dl {
  margin-top: 1.7rem;
}
dt {
  margin-right: 5px;
  margin-left: -1em;
  margin-top: 0.6em;
  font-weight: bold;
}
dt:first-child {
  margin-top: 0;
}
blockquote {
  background-color: var(--HB_Color_Accent);
  padding: 1em;
}
body::after {
  font-family: var(--font-family-ornamental);
  content: "❊";
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}
h1.invisible {
  display: none;
}
